* {
	margin: 0px; 
	padding: 0px;
}

.container
{width: 1400px; margin: auto;}


.header {
	display: flex;
 	align-items: center;
  	justify-content: center;
	margin-top: 20px; 
	height: 50px;
	border-style: solid; 
	border-width: 2px; 
	background-color: pink;}

.navigation{
	padding-bottom: 15px;
	float: left; 
	width: 20%; 
	border-style: groove; 
	border-width: 5px; 
	height: 100px; 
	padding-top: 20px; 
	margin-top: 50px;
    padding-left: 50px;}

a {margin-right: 12px;}

#middle {width: 500px;}

.main-section {
	background-color: hotpink; 
	margin-top: 50px; 
	float: right; 
	width: 73.28%; 
	margin-bottom: 50px;
	border: solid 1px;
	border-radius: 25px;
	padding-left: 20px;
	}

p {margin-bottom: 10px;}

.footer {
	color: goldenrod;
	float: right; 
	width: 73.28%; 
	border: solid 1px; 
	margin-bottom: 50px;
	clear: both; 
	display: flex; 
	justify-content: center;}

video {
	border-radius: 25px;
	height: 550px; 
	width: 90%;
	border: solid 1px;
	float: right;
/*	display: flex; 
	justify-content: center; */
	margin-top: 50px;
	margin-bottom: 50px;

}